<section class="todoapp">
  <header class="header">
    <h1>Your Lists</h1>
        <!-- <input class="new-todo" placeholder="Make a new list" autofocus=""> -->
        <%= form_for(@list) do |f| %>
          <%= f.text_field :name, :class => "new-todo" %>
          <%= f.submit %>
        <% end %>

  </header>
    <section class="main">
      <ul class="todo_list">
          <% @lists.each do |list| %>
          <li>
              <div class="view">
                <h2><%= link_to list.name, list_path(list) %></h2>
              </div>
          </li>
          <% end %>
      </ul>
  <footer class="footer">
  </footer>
</section>
