<section class="todoapp">
  <header class="header">
    <h1>Login!</h1>
    <%= form_tag(sessions_path) do %>
      <%= text_field_tag :email, "", class: "new-todo", placeholder: "Enter your email" %>
      <%= text_field_tag :password, "", class: "new-todo", placeholder: "...and your password" %>
      <%= submit_tag name="Login" %>
    <% end %>
  </header>

  <footer class="footer">
  </footer>
</section>
